.img-fluid{
    height: 300px;
    border-radius: 30%;
    border: 5px solid white;
}
.fullpage{
    background-color: #11071F;
}
.feature-icon{
padding: 5px;
width: 35px;
height: 35px;
border-radius: 20%;
}
#my-works>img{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5rem;
    width: 80rem;
}
#my-works>.py-5{
    gap: 2rem;
}
* p{
    font-size: 1 rem !important;
    font-weight: 300 !important;
}
#contact-me>h3,#contact-me>a{
    display: flex;
    justify-content: center;
}
.btn-primary{
    background-color: #5552FC;
}
.btn-primary:active,.btn-primary:hover{
    background-color: #0502A8;
}
.feature-icon{
    background-color: #5552FC !important;
}
.head-nav{
    background-color: #1A0B2E;
}
.col2-box{
    display: flex;
    gap: 20rem;
}
#my-works img{
    border: 1px dotted grey;
}
p,h1,h2,h3{
    color: white; 
}
.text-body-emphasis{
    color: white !important;
}
.container{
    max-width: 60rem;
}
.feature-col{
    width: 10rem;
}
